QScrollArea {
    background-color: #000000;
    border: none;
}

QScrollArea QWidget {
    background-color: #000000;
    border: none;
}

QScrollArea::viewport {
    background-color: #000000;
    border: none;
}

